$font-primary 		:	"Meiryo", "Hiragino Kaku Gothic Pro";
$font-HiraginoSans-w0 	: "HiraginoSans W0", $font-primary;
$font-HiraginoSans-w3 	: "HiraginoSans W3", $font-primary;
$font-HiraginoSans-w4 	: "HiraginoSans W4", $font-primary;
$font-Pr6N : "KozGo Pr6N", $font-primary;
html,html *{
	box-sizing: border-box;
}

body {
	font-family: $font-Pr6N;
	font-size: 16px;
	color: #000000;
	margin: 0;
	&.home {
		header#header{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;
		}
		main img{
			display: block;
			margin: 0 auto;
		}
	}
	img{
		max-width: 100%;
	}
	p{
		margin-top: 0;
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	a{
		color: #ed731d;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.container{
	width: 1230px;
	padding-left:15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.red{
	color: #d71528;
}
header#header{
	.header-content{
		padding-top: 20px;
		display: flex;
		flex-wrap: wrap;
    	justify-content: space-between;
    	align-items: center;
		.header-logo{
			#logo{

			}
		}
		.header-nav{
			>ul{
				display: flex;
				flex-wrap: wrap;
				margin-right: -5px;
				list-style: none;
				padding: 0;
				margin: 0;
				>li>a{
					position: relative;
					display: inline-block;
					img{
						display: block;
					}
					span{
    					width: 100%;
    					height: 100%;
						z-index: +9;
    					color: #FFF;
						font-size: 18px;
						position:absolute;
						top: 0;
						left: 0%;
						display: flex;
						align-items:center;
						justify-content: center;
					}
					&:hover img{
						opacity: .8;
					}
				}
			}
		}
	}
}
.section{
	padding: 50px 0;
}
.heading{
	font-size: 52px;
	font-family: $font-HiraginoSans-w0;
	position: relative;	
    margin-top: 0;
	margin-bottom: 20px;
	line-height: 1em;
	padding:25px 35px;
	padding-bottom: 10px;
	font-weight: normal;
    text-transform: capitalize;
	&:before, &:after{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background-color: #160306;
		width: 2px;
		height: 100%;
	}
	&:after{
		width: 5px;
		left: 7px;
	}
	p{
		font-size: 16px;
		font-family: $font-Pr6N;
		margin-top: 15px;
		margin-bottom: 0;
		&::first-letter{
			margin-left: -.5em;
		}
	}
}
#home-content{
	margin: 0;
	font-size: 18px;
	background-image: url('../images/home/home-content-bg.png');
    background-position: top 60px center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -60px;
    overflow: hidden;
    .content{
    	overflow: hidden;
    	width: calc( 50% + 600px);
    	max-width: 100%;
    	float: right;
    	background-color: rgba(255, 255, 255, 0.9);
    	>.container{
    		margin-left: 0;
    		padding: 60px 70px;
    		position: relative;
    		p{
    			line-height: 1.8em;
    			margin-bottom: 2em;
    		}
	    	.content-right{
	    		font-size: 45px;
	    		width: 45px;
	    		position: absolute;
	    		right: -40px;
	    		top: 0;
	    		padding-top:60px;
	    	}
    	}
    }
}
.projects{
	margin-left: -10px;
	margin-right: -10px;	
	display: flex;
	flex-wrap: wrap;
	.project{
		width: 25%;
		margin-bottom: 25px;
		padding-left: 10px;
		padding-right: 10px;
		.project-item{
			display: block;
			border: 1px solid #b36376;
			background-color: #efefee;
			text-decoration: none;
			transition: all .2s;
			&:hover{
    			filter: drop-shadow(2px 4px 8px #b36376);
			}
			.thumbnail{
				position: relative;
				height: 0;
			    padding-bottom: 80%;
			    background-image: url('../images/common/project-demo.png');
			    background-repeat: no-repeat;
			    background-size: contain;
			    background-position: center;
			    .project-info{
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 1px;
					.category span{
						background-color: #6b6b6b;
					    color: #ffffff;
					    font-size: 14px;
					    padding: 7px 15px;
					    display: inline-block;
					    border-radius: 27px;					    
					    min-width: 120px;
					    text-align: center;
					}
					.title{
				    	padding: 5px 7px;
						background-color: rgba(255, 255, 255, 0.8);
						h3{
							font-size: 16px;
							color: #231815;
							font-weight: normal;
						    line-height: 1.5em;
							font-family: $font-Pr6N;
							margin: 0;
							display: -webkit-box;
						    -webkit-line-clamp: 2;
						    -webkit-box-orient: vertical;
						    overflow: hidden;
						    text-overflow: ellipsis;
						}
					}
			    }
			}
			.details{
				padding: 10px 0 5px 0;
				.detail{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					.th{
						font-size: 12px;
						width: 60px;
						text-align: center;
						color: #323333;
					}
					.td{
						font-size: 26px;
						width: calc(100% - 60px);
						color: #000000;
						text-align: right;
						padding: 5px;
    					padding-right: 20px;
    					border-bottom: 1px solid #c0bdbd;
    					font-weight: bold;
    					font-family: $font-HiraginoSans-w4;
					}
				}
			}
		}
	}
	&.colums-5 .project{
		width: 20%;
	}
	&.colums-3 .project{
		width: 33.3333%;
	}
}
#categories{
	padding: 60px 0;
	text-align: center;
	background-image: url('../images/home/categories-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    h2{
    	font-size: 52px;
    	font-family: $font-HiraginoSans-w0;
    	font-weight: normal;
    	margin: 0;
    	margin-bottom: 50px;
    	span{
    		margin-top: 20px;
    		font-family: $font-Pr6N;
    		font-size: 18px;
    		display: block;
    	}
    }
    ul.categories{
    	list-style: none;
    	padding: 0;
    	margin: 0;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	align-items:center;
    	li {
    		.category{
    			margin: 0 10px;
    			width: 205px;
    			height: 205px;
    			border-radius: 50%;
    			background-color: #FFF;
    			display: flex;
    			flex-wrap: wrap;
    			align-items:center;
    			justify-content: center;
    			.title{
    				width: 100%;
    				color: #231815;
    				font-size: 19px;
    			}
    		}
    	}
    }
}

.banner{
	padding: 60px 0;
	img{
		display: block;
		margin: 0 auto;
	}
}
#news{
	margin-bottom: 20px;
	.news{
		margin-top: 20px;
		ul{
			list-style: none;
			margin: 0 auto;
			padding:0;
			max-width: 930px;
			li{
				border-bottom: 1px solid #9f9e9f;
				padding: 5px 15px;
				display: flex;
				flex-wrap: wrap;
				align-items:center;
				color: #231815;
				margin-bottom: 10px;
				.date{
					width: 150px;
					font-family: $font-HiraginoSans-w3;
					font-size: 22px;
				}
				.category{
					width: 100px;
					span{
						padding: 5px 10px;
						border-radius: 10px;
						background-color: #6b6b6b;
						color: #FFF;
						font-size: 14px;
					}
				}
				.content{
					width: calc(100% - 250px);
					padding-right: 80px;
					font-size: 18px;
					display: -webkit-box;
				    -webkit-line-clamp: 2;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    position: relative;
				    &:after{
				    	position: absolute;
				    	content: "";
				    	width: 80px;
				    	height: 100%;
				    	background-image: url('../images/common/detail-news.png');
					    background-position: center;
					    background-repeat: no-repeat;
					    right: 0;
					    top: 0;
					    transform: translateY(-5px);
				    }
				}
			}
		}
	}
}
.sorting{
	background-color: #f6f7f9;
	padding: 20px 0;
	.sort{
		display: flex;
		flex-wrap: wrap;
		padding-left: 70px;
		padding-right: 70px;
		.category{
			width: 30%;
			display: flex;
			flex-wrap: wrap;
    		align-items: center;
			label{
				width: 100px;
			}
			.select-category{
				width: calc(100% - 100px);
				position: relative;
				cursor: pointer;
				-webkit-touch-callout: none; /* iOS Safari */
			    -webkit-user-select: none; /* Safari */
			     -khtml-user-select: none; /* Konqueror HTML */
			       -moz-user-select: none; /* Old versions of Firefox */
			        -ms-user-select: none; /* Internet Explorer/Edge */
			            user-select: none; 
				.selecting{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					
				}
				img{
					max-width: 35px;
					max-height: 35px;
					margin-right: 20px;
				}

				.dropdown{
    				margin-top: 20px;
					position: absolute;
					width: 100%;
					z-index: +1;
					display: none;
					&.active{
						display: block;
					}
					ul{
						list-style: none;
						margin: 0;
						padding: 0;
						background-color: #f6f7f9;
						border: 1px solid #e0e0e0;
						li {
							min-height: 50px;
							display: flex;
							align-items:center;
							&:not(:last-child){
								border-bottom: 1px solid #e0e0e0;
							}
							a {								
								padding: 7px 10px;
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								color: inherit;	
							}
						}
					}
				}
			}

		}
		.ordering{
			width: 70%;					
		    display: flex;
		    align-items: center;
    		justify-content: flex-end;
		    ul{
		    	list-style: none;
		    	margin: 0;
		    	li{
		    		display: inline-block;
		    		a{
		    			background-color: #FFF;
		    			color: #231815;
		    			margin: 0 3px;
		    			padding: 7px 20px;
		    			display: block;
    					border: 1px solid #e0e0e0;
    					border-radius: 5px;
    					text-decoration: none;
    					transition: all .2s;
		    		}
		    		a:hover,
		    		&.active a{
    					border-color: #c55960;
		    			background-color: #e94c56;
		    			color: #FFF;
		    		}
		    	}
		    }
		}
	}
}
.pagination{
    margin: 0;
    margin-top: 40px;
    list-style: none;
    padding: 0;
    text-align: center;
    li{
    	display: inline-block;
    	.page-link{
    		padding: 5px 10px;
    		background-color: #aaaaa9;
    		color: #FFF;
    		text-align: center;
    		text-decoration: none;
    		transition: all .3s;
    	}
    	&.disabled .page-link{
    		display: none;
    	}
    	.page-link:hover,
    	&.active .page-link{
    		background-color: #e94c56;
    	}
    }
}
footer{
	margin-top: 100px;
	background-color: #f3a47d;
	color: #FFF;
	.footer-content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 65px;
		padding-bottom: 40px;
		.footer-left{
			width: 350px;
		}
		.footer-center{
			width: calc(100% - 600px);
			display: flex;
			flex-wrap: wrap;
			ul{
				list-style: none;
				margin: 0;
				padding: 0 15px;
				li{
					padding: 5px 5px;
					a{
						font-size: 18px;						
						color: #FFF;					
						display: block;
					}
				}
			}
		}
		.footer-right{
			width: 250px;
			.btn-contact{
				margin-top: 30px;
				color: #343434;
				background-color: #FFF;
				display: block;
				padding: 10px; 
				text-align: center;
				position: relative;
    			font-weight: bold;
				&:before{
					position: absolute;
				    content: "";
				    width: 0px;
				    height: 0px;
				    border-bottom: 14px solid transparent;
				    border-left: 20px solid #f4a47f;
				    top: 2px;
				    left: 2px;
				}
			}
		}
	}
	.copyright{
		text-align: center;
		font-family: $font-HiraginoSans-w3;
		font-size: 12px;
		padding: 20px 0;
	}
}